@font-face {
  font-family: 'karbon';
  src: url('../fonts/karbon/karbon-bold.eot');
  src: url('../fonts/karbon/karbon-bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/karbon/karbon-bold.woff2') format('woff2'),
  url('../fonts/karbon/karbon-bold.woff') format('woff'),
  url('../fonts/karbon/karbon-bold.ttf') format('truetype'),
  url('../fonts/karbon/karbon-bold.svg#karbonbold') format('svg');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'karbon';
  src: url('../fonts/karbon/karbon-semibold.eot');
  src: url('../fonts/karbon/karbon-semibold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/karbon/karbon-semibold.woff2') format('woff2'),
  url('../fonts/karbon/karbon-semibold.woff') format('woff'),
  url('../fonts/karbon/karbon-semibold.ttf') format('truetype'),
  url('../fonts/karbon/karbon-semibold.svg#karbonsemibold') format('svg');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'karbon';
  src: url('../fonts/karbon/karbon-medium.eot');
  src: url('../fonts/karbon/karbon-medium.eot?#iefix') format('embedded-opentype'),
  url('../fonts/karbon/karbon-medium.woff2') format('woff2'),
  url('../fonts/karbon/karbon-medium.woff') format('woff'),
  url('../fonts/karbon/karbon-medium.ttf') format('truetype'),
  url('../fonts/karbon/karbon-medium.svg#karbonmedium') format('svg');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'karbon';
  src: url('../fonts/karbon/karbon-light.eot');
  src: url('../fonts/karbon/karbon-light.eot?#iefix') format('embedded-opentype'),
  url('../fonts/karbon/karbon-light.woff2') format('woff2'),
  url('../fonts/karbon/karbon-light.woff') format('woff'),
  url('../fonts/karbon/karbon-light.ttf') format('truetype'),
  url('../fonts/karbon/karbon-light.svg#karbonlight') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'karbon';
  src: url('../fonts/karbon/karbon-regular.eot');
  src: url('../fonts/karbon/karbon-regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/karbon/karbon-regular.woff2') format('woff2'),
  url('../fonts/karbon/karbon-regular.woff') format('woff'),
  url('../fonts/karbon/karbon-regular.ttf') format('truetype'),
  url('../fonts/karbon/karbon-regular.svg#karbonregular') format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'karbon';
  src: url('../fonts/karbon/karbon-regularitalic.eot');
  src: url('../fonts/karbon/karbon-regularitalic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/karbon/karbon-regularitalic.woff2') format('woff2'),
  url('../fonts/karbon/karbon-regularitalic.woff') format('woff'),
  url('../fonts/karbon/karbon-regularitalic.ttf') format('truetype'),
  url('../fonts/karbon/karbon-regularitalic.svg#karbonregular_italic') format('svg');
  font-weight: 400;
  font-style: italic;
}