body{
    .box-info{
        .btn{
            overflow: hidden;
            position: relative;
        }
        
        .btn-text{
            position: absolute;
            left: 0;
            top: 0;
            z-index: 4;
            width: 100%;
            height: 100%;
            
            &.active{
                transform: translateX(-100%);
            }
        }
    }
    .mejs__mediaelement,
    .mejs__controls:not([style*="display: none"]){
        background: $green;
        padding: 0;
    
    }
    
    .mejs__time,
    .mejs__volume-button,
    .mejs__horizontal-volume-slider{
        display: none;
    }
    
    .mejs__time-rail{
        display: flex;
        align-items: center;
        padding-top: 0;
        margin-left: 28px;
        margin-right: 0;
    }
    
    .mejs__time-buffering,
    .mejs__time-current,
    .mejs__time-float,
    .mejs__time-float-corner,
    .mejs__time-float-current,
    .mejs__time-hovered,
    .mejs__time-loaded,
    .mejs__time-marker,
    .mejs__time-total{
        height: 3px;
        margin: 0;
        background: $white;
    }
    
    .mejs__time-float{
        display: none;
        visibility: hidden;
        pointer-events: none;
        opacity: 0;
    }
    
    .mejs__time-rail .mejs__time-handle-content{
        transform: scale(1);
        top: -10px;
        width: 16px;
        height: 16px;
    }
    .mejs__button>button{
        //background-size: 210px;
        position: relative;
        overflow: inherit;
        //width: 15px;
        //height: 15px;
        
        &:before{
            content: '';
            position: absolute;
            top: -6px;
            left: -5px;
            display: block;
            width: 30px;
            height: 30px;
            border: 2px solid white;
            border-radius: 50%;
        }
    }
    .mejs__play>button{
        background-position: 1px 0;
    }
    .mejs__replay>button{
        background-position: -160px -1px;
    }
    
    //.mejs__pause>button,
    //.mejs__play>button {
    //    width: 28px;
    //    height: 28px;
    //
    //    margin-top: 5px;
    //    &:before{
    //        content: none;
    //    }
    //}
    //
    //.mejs__play>button{
    //    background: url("../img/icon/play.png");
    //}
    //.mejs__pause>button{
    //    background: url("../img/icon/pause.png");
    //}
    //}
    //.mejs__pause>button,
    //.mejs__play>button {
    //    border: 2px solid white;
    //    border-radius: 50%;
    //    padding: 15px;
    //    margin: 0;
    //}
    //.mejs__play>button{
    //    background-position: 7px 6px;
    //}
    //.mejs__pause>button{
    //    background-position: -18px 2px;
    //}
    
}
